/*
 * MyJAFRA.com Prototype Styles
 * --------------------------------------------------
 * Developed by Dain Kennison (@dainbrain) for JAFRA USA
 * v0.9 - 17 April 2014
 */


/*      .ng-enter {
        -webkit-animation: fadeIn .3s;
        -moz-animation: fadeIn .3s;
        -ms-animation: fadeIn .3s;
        animation: fadeIn .3s;
      }
      .ng-leave {
        -webkit-animation: fadeOut .01s;
        -moz-animation: fadeOut .01s;
        -ms-animation: fadeOut .01s;
        animation: fadeOut .01s;
      }*/
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* hides ff/safari input[number] for cvv only */
input[type=number].hide-arrows { 
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

input[type=number].hide-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.primary-color { color: rgba(195,0,47,1); }
.secondary-color { color: rgba(74,13,102,1); }

html {
  -webkit-font-smoothing: antialiased;
}
h1, .h1, h2, h3, h4, h5, h6,
.btn, .label, .badge, .store-checkout .control-label, .steps-indicator {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h2, h3, h4, a, .btn-link {
  color: rgba(74,13,102,1);
}
h4 span.text-muted {
    font-size: 16px;
}
h1, .h1, a:hover, a:focus, .btn-link:hover, .btn-link:focus {
  color: rgba(195,0,47,1);
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] {
  background-color: rgba(165,0,27,0.2);
  border-color: rgba(165,0,27,0.2);
}
a {
  cursor: pointer;
}
a > span {
  pointer-events: none;
}
a.btn {
  z-index: 1;
}
a {
  position: relative;
}
.text-underline {
  text-decoration: underline; 
}

.well h3  {
  margin-top: 0;
}
/*.well form {
  padding-top: 15px;
}*/
header a, header p {
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
h2 {
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.italic {
    font-style: italic;
}
.alerts {
  position: fixed;
  top:15px;
  right: 15px;
  z-index: 999;
}
#shop_header {
  min-height: 95px;
  background: rgba(74,13,102,1);
  border-radius: 0;
  padding-bottom: 5px;
}

.navbar-nav, .login-info, .store-checkout-progress {
  text-transform: uppercase;
  color: #fff;
}

a.checkout-link {
  font-weight: bold;
}

.print-link {
    margin-top: 50px;
}

.login-info select {
  color: #222;
}
.consultant-info, .login-info {
  font-size: 13px;
  padding-top: 5px;
}
.consultant-info a, .login-info a {
  text-decoration: underline;
}
.consultant-info a:hover, .login-info a:hover {
  text-decoration: underline;
  color: #8c146a;
}
.consultant-info {
/*  white-space: nowrap;
*/}
.consultant-photo {
  margin-right: 15px;
  border: 2px solid #fff;
}
.consultant-name {
  text-transform: uppercase;
  font-weight: bold;
}

/* Carousel Styling */
.join .glyphicon-chevron-right:before 
{
     content: " ";
       
       display:block;
       
       background:url('/img/right-angle-icon2x.png') center center no-repeat;
       background-size: contain;
       
      width:30px;
       height:50px;
}
.join .glyphicon-chevron-left:before 
{
   content: " ";
      
       display:block;
       
       background:url('/img/lef-angle-icon2x.png') center center no-repeat;
       background-size: contain;
      
       width:30px;
       height:50px;
      }

.join .carousel-control.right
{
  background-image:none;
}

.join .carousel .left
{
  background-image:none;
}

.join .carousel .left .glyphicon {
  /*display: none;*/
  cursor: pointer;
}
.join .carousel .right {
  cursor: pointer;
}
.join .carousel-control 
{
  display: block;
  opacity:.5 ; 
  text-decoration:none; 
  outline:0 none; 
  color:#fff;   
  z-index: 6;
}
.shop .carousel-control{
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
}

.shop .carousel-control.right, .shop .carousel .left {
  height: 90%;
  background:none;
  color: rgba(74, 13, 102, 0.6);
}
.shop .carousel-control.right:hover, .shop .carousel .left:hover {
  color: rgba(195, 0, 47, 0.6);
}

.shop .carousel-inner .item {
  border: 1px solid rgba(110,61,132,1);
}

.shop .zone {
 border: 1px solid rgba(110,61,132,1); 
}

.navbar-right {
  margin-right: 20px;
}

.navbar-clientdirect_logins {
  border-radius: 5px; 
  padding: 8px 1px;
}

.login-dropdown .dropdown-menu {
    min-width: 200px;
}
.login-dropdown ul {
  padding: 10px;
    text-align: right;
}
.login-dropdown ul li {
  padding-bottom: 5px;
}
.login-dropdown button {
  padding: 3px 10px 4px 10px;
}
.login-dropdown input {
    width: 100%;
    color: #000;
}
.login-dropdown .login-error {
    font-family: sans-serif;
    font-size: 12px;
    text-transform: none;
    color: #f00000;
}
.navbar-brand {
  height: 95px;
}
.navbar-nav {
  margin: 5px 0 0 -15px;
}
/*.navbar-nav>li {
  opacity: .3;
}
.navbar-nav>li.active {
  opacity: 1;
}*/
.navbar-nav>li>a {
  color: #fff;
  border-radius: 5px;
  padding: 8px 15px;
}
.navbar-toggle,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus,
.navbar-nav>li.active>a {
  color: #fff;
  background-color: rgba(52, 11, 72, 1);
  border-color: #85418E;
  /*margin-right: -25px;*/
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}
.footer-logos {
  white-space: nowrap;
}
.footer-logos a {
  display: inline-block;
  height: 53px;
  background-image: url(/img/footer.png);
}
.jafra-logo {
  width: 108px;
}
.jafra-logo:hover, 
.jafra-logo:focus {
  background-position: 0 -53px;
}
.vorwerk-logo {
  width: 103px;
  background-position: -108px 0;
}
.vorwerk-logo:hover,
.vorwerk-logo:focus {
  background-position: -108px -53px;
}
.dsa-logo {
  width: 58px;
  background-position: -211px 0;
}
.dsa-logo:hover,
.dsa-logo:focus {
  background-position: -211px -53px;
}/*
.carousel-control {
  opacity: 0;
  width: 10%;
}
.carousel-control i {
  display: block;
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  margin: -.5em auto auto -.5em;
}*/
.breadcrumb {
  background: none;
  padding: 8px 0;
  margin-bottom: 0px;
}
.store-section {
  margin-bottom: 20px;
}
.store-item {
  text-align: center;
}
.store-item-wrapper {
  max-width: 210px;
  margin: 0 auto 30px;
  min-height: 380px;
}
.related .store-item-wrapper {
  min-height: 230px;
}
.store-item-wrapper img,
.image-zoom img,
.cart-item-image {
  margin: 5px auto;
/*  -moz-transform: scale(.95);*/
  -webkit-transform: scale(.95);
  -o-transform: scale(.95);
  -ms-transform: scale(.95);
  /*transform: scale(.95);*/

  -webkit-transition: -webkit-transform 200ms ease;
  /*-moz-transition: -moz-transform 200ms ease;*/
  -ms-transition: -ms-transform 200ms ease;
  -o-transition: -o-transform 200ms ease;
  /*transition: transform 200ms ease;*/
}
.store-item-wrapper a:hover img,
.image-zoom:hover img,
a:hover cart-item-image {
  /*-moz-transform: scale(1);*/
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  /*transform: scale(1);*/
}
.store-item-sku {
  font-size: 13px;
  margin-bottom: 0px;
}
.store-item-title {
  height: 2.5em;
}
.promotional-message {
  color: #DE6D30;
  text-transform: none;
}
.item-price-sale {
  font-weight: bold;
  color: red;
  margin-left: 10px;
}
.item-price-strike {
  text-decoration: line-through;
  color: gray;
}
.saleflag {
  display: block;
  position: absolute;
  top: 5px; 
  right: 20px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: normal !important;
  color: #fff;
  background: #DE6D30;
  padding: 5px 8px;
  box-shadow: -1px 2px 1px rgba(0,0,0,.25);
}
.saleflag:after {
  content: " ";
  display:block;
  position:absolute;
  right:0;
  bottom:-8px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 8px 0 0;
  border-color: #B15823 transparent transparent transparent;
}

.cardImg
{
  max-height:40px;
  float:left;
}

.qty-input {
  max-width: 4em;
  text-align: center;
}
.store-cart .qty-input {
  font-weight: bold;
  color: #222;
  border-color: rgba(195,0,47,1);
}
.btn {
  border: none;
  border-radius: 0;
  padding: 8px 12px 10px;
  background: #fff;
}
.btn-default {
  background: rgba(195,0,47,1);
  color: #fff;
  border-color: rgba(195,0,47,1);
}
.btn-primary {
  background: rgba(195,0,47,1);
  color: #fff;
  border-color: rgba(195,0,47,1);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary,
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background: rgba(165,0,27,1);
  border-color: rgba(165,0,27,1);
  color: #fff;
}
.input-group-addon {
  color: #fff;
  background-color: rgba(74,13,102,1);
  border-color: rgba(74,13,102,1);
  border-radius: 0;
}
.tab-pane {
  padding: 20px 0;
}
.form-control {
  border-radius: 0;
  height: 38px;
}
.form-control:focus {
  border-color: #53366C;
  box-shadow: 0 0 3px rgba(195,0,47,1)
}
.store-heading-nav {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom:20px;
}
.store-item-social {
  font-size: .8em;
  margin-top: 15px;
}
.store-item-detail-actions {
  padding: 0 0 15px;
}
.store-item-title {
  font-size: 13px;
}
.store-item-title a,
.store-item-title a:hover,
.store-item-title a:focus {
  color: #777;
  text-decoration: none;
}
.store-group-colors .store-group-colors-swatch {
  display: inline-block;
  border: 1px solid #eee;
  margin-right: 5px;
  margin-bottom: 5px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.store-group-colors .store-group-colors-swatch:hover,
.store-group-colors .store-group-colors-swatch:focus,
.store-group-colors .store-group-colors-swatch.active {
  border-color: rgba(195,0,47,1);
}
.store-group-colors .store-group-colors-swatch.active {
  box-shadow: 0 0 3px rgba(195,0,47,1)
}
.store-group-colors .store-group-colors-swatch img {
  max-width: 56px;
  height: auto;
}
.store-dropdown {
  margin-bottom: 14px;
}
.store-dropdown .btn {
  border: 1px solid #ccc;
}
.store-dropdown .btn img { 
  margin-top: -4px;
  margin-left: -7px;
  margin-bottom: -4px;
  margin-right: 10px;
}
.store-dropdown li img { 
  margin-left: -14px;
  margin-right: 10px;
}
.store-dropdown .dropdown-menu>li>a:hover,
.store-dropdown .dropdown-menu>li>a:focus,
.store-dropdown .dropdown-menu>li>a.active {
  color: rgba(195,0,47,1);
  background: rgba(170,115,177,.1);
}
.store-dropdown .dropdown-menu>li>a.active {
  font-weight: bold;
}
#shop_menu.affix {
  position: fixed;
  top: 0;
  min-width: 158px;
  z-index:999;
}
.store-nav-toggle {
  display: block;
  position: absolute;
  float: right;
  top: 0;
  right: -58px;
  width: 44px;
  text-align: center;
  font-size: 26px;
  line-height: 14px;
  padding: 10px 0;
  background: rgba(74,13,102,1);
  color: #fff !important;
  z-index:999;
  cursor: pointer;
}

.row-offcanvas-left.active {
  border-left: 2px solid rgba(74,13,102,1);
}

.nav-tabs>li>a {
  cursor: pointer;
  border-radius: 0;
  margin-right: 5px;
  background: #f5f5f5;
  background: -moz-linear-gradient(top, rgba(245,245,245,0) 0%, rgba(245,245,245,0) 1%, rgba(245,245,245,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,0)), color-stop(1%,rgba(245,245,245,0)), color-stop(100%,rgba(245,245,245,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(245,245,245,0) 0%,rgba(245,245,245,0) 1%,rgba(245,245,245,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(245,245,245,0) 0%,rgba(245,245,245,0) 1%,rgba(245,245,245,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(245,245,245,0) 0%,rgba(245,245,245,0) 1%,rgba(245,245,245,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(245,245,245,0) 0%,rgba(245,245,245,0) 1%,rgba(245,245,245,1) 100%); /* W3C */
  border-color: #ddd;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background: #fff;
}
/*.store-item:nth-child(3n+1) > .store-item-wrapper {
  margin-right: 0;
}*/

a, .btn {
  -webkit-transition: color 200ms ease, background 200ms ease;
  -moz-transition: color 200ms ease, background 200ms ease;
  -ms-transition: color 200ms ease, background 200ms ease;
  -o-transition: color 200ms ease, background 200ms ease;
  transition: color 200ms ease, background 200ms ease;
}

.image-zoom {
  cursor: ne-resize;
  cursor: -webkit-zoom-in;
  text-align: center;
}
.item-image-wrapper small {
  font-size: 13px;
  text-transform: uppercase;
  color:rgba(74,13,102,1);
}
.modal-addon-item {
  text-align: center;
}
.modal-header {
  border-bottom: 1px solid rgba(74,13,102,1);
  background: rgba(74,13,102,1);
  border-radius: 5px 5px 0px 0px;
}
.modal-header .modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: #fff;
}
.modal-header .close{
  color: #fff;
}
.store-cart .table>tbody>tr>td {
  vertical-align: middle;
}
.store-cart-orderbyid {
  padding: 60px 0;
}
.cart-item-image {
  margin-right: 20px;
}
.cart-item-actions {
  margin-top: 15px;
}
.cart-item-price b,
.cart-item-price em {
  display: block;
}
.cart-subtotal {
  font-size: 1.3em;
}
.cart-subtotal span {
  font-size: .8em;
  font-weight: normal;
  color: rgba(74,13,102,1);
}

#orderByIdItem {
    font-size: 14px;
    width: 100%;
}

#orderByIdItemDiv {
    display: inline-block;
    width: 250px;
}

.autocomplete ul {
    padding-left: 0px;
    border-top: 1px solid #888;
    cursor: pointer;
}

.autocomplete li.active {
    background-color: #ccabd0;
}

.store-checkout {
  position: relative;
  padding-bottom: 80px;
}
.store-checkout h1 {
  margin-bottom: 30px;
}
.store-checkout h2 {
  font-size: 28px;
  color: #C3002F;
  text-transform: none;
  border: none;
  margin-bottom: 20px;
}
.store-checkout-progress {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #fff;
  margin: 13px 0 0;
  white-space: nowrap;
}
.store-checkout-progress li {
  opacity: .5;
}
.store-checkout-progress li.active {
  opacity: 1;
}
.store-checkout-progress span {
  vertical-align: top;
  padding-right: 10px;
}
.store-checkout-progress i {
  font-size: 26px;
}
.store-checkout label.control-label {
  font-size: 18px;
  font-weight: 400;
  color: #555;
  padding-top: 3px !important;
}
.checkout-login-email {
  display: inline-block;
  padding-top: 5px;
  font-size: 18px;
}
.forgot-password-link {
  color: rgba(195,0,47,1);
  text-transform: none;
}
.form-info-link {
  margin-left: 15px;
  white-space: nowrap;
}
.form-group .form-info-link {
  display: inline-block;
  padding-top: 7px;
}
.checkout-address span.block {
  display: block;
}
.checkout-address>span {
  display: block;
  line-height: 1.6em;
}
.checkout-address a:hover {
  text-decoration: none;
}
.checkout-address .address-name {
  font-weight: bold;
  font-size: 16px;
}
.checkout-address .address-actions {
  padding: 15px 0;
}
.checkout-address .address-actions span {
  display: inline-block;
}
.address-block {
  min-height: 91px;
}
.checkout-address .btn {
  margin-bottom: 40px;
}
.shippingSpeedModal.modal {
    overflow: hidden;
}
.store-heading-description {
  display: block;
  font-size: 16px;
  color: #555;
  padding-top: 7px;
}
.checkout-card {
  max-width: 218px;
/*  max-height: 136px;
*/  background: #FBF8FB;
  border-radius: 9px;
  border: 2px solid rgba(195,0,47,1);
  font-family: "Courier New", "Courier", monospace;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 15px 0;
  opacity: .4;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}
.card-number {
  clear: both;
  padding-top: 10px;
}
.card-expiry small {
  display: block;
}
.card-actions {
  clear: both;
  padding-top: 10px;
}
.checkout-card.active, .checkout-card:hover {
  opacity: 1;
}
.order-details table>thead>tr>th:last-child,
.order-details table>body>tr>td:last-child,
.order-details table>tfoot>tr>td:last-child {
  text-align: right;
}

.steps-indicator {
    bottom: initial;
    top: 10px;
}

.store-checkout h1, .store-checkout h2 {
    margin-top: 60px;
}

/*
 * Menu Styles
 * --------------------------------------------------
 */

 #shop_menu, #shop_menu ul, #shop_menu ul li, #shop_menu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#shop_menu {
    /* width: 200px; */
    color: #222;
}

#shop_menu ul ul {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 600ms ease;
    -moz-transition: max-height 600ms ease;
    -ms-transition: max-height 600ms ease;
    -o-transition: max-height 600ms ease;
    transition: max-height 600ms ease;

    /* -- TODO -- Integrate JS hide/show subnavs */
}
#shop_menu li.open > ul {
    max-height: 1000px;
}
#shop_menu li.open > ul > li > ul {
  max-height: 0;
}
#shop_menu li.open > ul > li.open > ul {
  max-height: 800px;
}

#shop_menu .align-right {
    float: right;
}

#shop_menu > ul > li > a {
    padding: 10px 0;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #797c7d;
    font-size: 16px;
    text-transform: uppercase;
}
a:focus {
  outline: none;
}

#shop_menu a.active, #shop_menu > ul > li > a:hover, #shop_menu > ul > li.active > a, #shop_menu > ul > li.open > a {
    color: rgba(195,0,47,1);
}

#shop_menu a.active {
    font-weight: bold;
}

#shop_menu > ul > li > a:hover {
    box-shadow: inset 0 -1px 0 rgba(74,13,102,.1);
}

#shop_menu > ul > li.open > a:nth-of-type(1) {
    border-bottom: 1px solid rgba(74,13,102,1);
}

#shop_menu ul ul li.menu-subheading, #shop_menu ul ul li a {
    cursor: pointer;
    padding: 10px;
    z-index: 1;
    text-decoration: none;
    font-size: 14px;
    color: #797c7d;
    border-left: 4px solid rgba(74,13,102,1);
}

#shop_menu ul ul li.menu-subheading {
    cursor: default;
    text-transform: uppercase;
    font-size: 10px;
    color: rgba(74,13,102,1);
    background: rgba(170,115,177,.05);
}

#shop_menu ul ul li a.active, #shop_menu ul ul li a:hover {
    color: rgba(195,0,47,1);
    background: rgba(74,13,102,.1);
}

#shop_menu ul ul li:hover > a, #shop_menu ul ul li.open > a, #shop_menu ul ul li.active > a {
    color: rgba(195,0,47,1);
}

#shop_menu ul ul li.open > a, #shop_menu ul ul li.active > a {
    font-weight: bold;
    box-shadow: inset 0 -1px 0 rgba(170,115,177,.1);
}

#shop_menu ul ul ul li a {
    padding-left: 20px;
}

#shop_menu ul ul ul li.open > a, #shop_menu ul ul ul li.active > a {
    box-shadow: inset 0 -1px 0 rgba(181,26,138,.1);
}

#shop_menu ul ul ul li a {
    padding: 0 0 0 20px;
    color: #9b5ba4;
}

#shop_menu ul ul ul li a span {
    display: inline-block;
    padding: 10px 0 10px 10px;
    border-left: 4px solid rgba(181,26,138,.1);
    -webkit-transition: border 200ms ease;
    -moz-transition: border 200ms ease;
    -ms-transition: border 200ms ease;
    -o-transition: border 200ms ease;
    transition: border 200ms ease;
}
#shop_menu ul ul ul li a.active,
#shop_menu ul ul ul li a:hover,
#shop_menu ul ul ul li a:focus {
    background: transparent;
}
#shop_menu ul ul ul li a.active span,
#shop_menu ul ul ul li a:hover span,
#shop_menu ul ul ul li a:focus span {
    border-left: 4px solid rgba(181,26,138,.4);
}

#shop_menu li.has-sub > a > i {
    float: right;
    margin-right: 9px;

}
#shop_menu ul ul li.has-sub > a > i {
    margin-right: 0px;
}
#shop_menu li > a > i {
    -webkit-transition: -webkit-transform 200ms ease;
    -moz-transition: -moz-transform 200ms ease;
    -ms-transition: -ms-transform 200ms ease;
    -o-transition: -o-transform 200ms ease;
    transition: transform 200ms ease;

}
#shop_menu li.open > a > i {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#shop_menu li.open .category_children {
  overflow: auto;
}


.configureKitModal.modal {
    /*min-width: 640px; REMOVED because it broke responsiveness!*/
    min-height: 400px;
    max-width: 90%;
    max-height: 90%;

    overflow: auto;
    margin: auto;
    left: 0;
    right: 0;
}

.configureKitModal.modal .modal-dialog {
    height: 100%;
    width: 100%;

    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.configureKitModal .modal-content {
    height: 100%;
    width: 100%;
}

.configureKitModal .modal-header {
    /*height: 55px; REMOVED because it broke responsiveness!*/
}
.configureKitModal .modal-body {
    height: calc(100% - 135px); /*height: calc(100% - 110px);*/
    overflow-x: hidden;
    overflow-y: auto;
}
.configureKitModal .modal-body .row {
    overflow: hidden;
}
.configureKitModal .modal-footer {
    margin-top: 0px;
    height: 55px;
    padding: 5px;
}
.configureKitModal .modal-body .kitSelections {
    overflow-y: auto;
}
.configureKitModal .modal-body .kitSelections .product-name {
    margin-left: 10px;
}
.configureKitModal .modal-body .kitSelections .product-image img {
    margin-left: 10px;
    width: 50%;
}
.configureKitModal .modal-body .kitSelections .kitGroupNavName {
    text-transform: none;
}
.configureKitModal .modal-body .kitSelectionList {
    height: 100%;
    overflow-y: scroll;
}

.configureKitModal .modal-body .kitSelectionList div.product-image {
    margin-top: 1px;
    padding: 8px;
}
.kitSelectionList div.row {
  margin: 0 0 10px;
}
.kitSelectionList div.selected {
    outline: 3px solid rgba(195,0,47,1);
}

.configureKitModal .modal-body .kitSelectionList .div.product-image.selected .kit-selection-check {
    top: 0px;
    right: 5px;
}
.configureKitModal .kitGroupName {
    color: #797c7d;
}
.configureKitModal .kitGroupNameWrapper {
    font-size: 16px;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 10px;
}
.configureKitModal .modal-addon-item {
    text-align: left;
}
.configureKitModal .modal-addon-item-title {
    font-size: 18px;
    font-weight: bold;
    color: rgba(195,0,47,1);
}
.configureKitModal .modal-addon-item-description {
    font-size: 16px;
}
.configureKitModal .modal-addon-item-quantity {
    font-size: 14px;
}

.kit-selection-check, div.selected .kit-selection-plus {
  display: none;
  color: rgba(195,0,47,1);
}

div.selected .kit-selection-check, .kit-selection-plus {
  display: inline-block;
  color: rgba(195,0,47,1);
}
.configureKitModal aside a small.pull-right {
    line-height: 18px;
  }
@media (min-width: 1331px) {
  .configureKitModal aside a small.pull-right {
    float: right;
    display: inline;
  }
}
@media (max-width: 1330px) {
  .configureKitModal aside a small.pull-right {
    float: none !important;
    display: block;
  }
}

.hover-row:hover {
  background-color: #eee;
  background-color: rgba(170,115,177,.1);
  cursor: pointer;
}

/* add to cart and step buttons anims */
.add-to-cart:before {
  content: "\f07a";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  width: 1em;
  margin-right: .5em;
  -webkit-font-smoothing: antialiased;
}
a.processing,
a.processing:hover,
a.processing:active,
button.processing,
button.processing:hover,
button.processing:active {
  background-color: rgba(165,0,27,0.2);
  border-color: rgba(165,0,27,0.2);
  pointer-events: none;
}
a.processing:before,
button.processing:before {
  content: "\f021";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  width: 1em;
  margin-right: .5em;
  -webkit-font-smoothing: antialiased;
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -ms-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
.loading-products a.processing {
  display: block;
  text-align: center;
  font-size: 22px;
  background: none;
}
.loading-products a.processing:before {
  margin: 30px auto;
}

/* checkout steps color and typography */
.steps-indicator li a {
  font-size: 12px;
  margin-left: -10px;
}
.steps-indicator li.current a {
  color: rgba(195,0,47,1);
}
.steps-indicator li.current a:before, 
.steps-indicator li.editing a:before {
  background-color: #53366C;
}
.steps-indicator li.done a {
  color: rgba(74,13,102,1);
}
.steps-indicator li.done a:before {
  background-color: #DEC8E0;
}

.responsive-container {
    min-height: 200px;
    min-width: 200px;
    text-align: center;  /* align the inline(-block) elements horizontally */
    margin: 0 auto;
}
.responsive-element {
    margin: 0 auto !important;
}

.shop .agreement-content {
  border: 1px solid #f5f5f5;
  box-shadow: inset 0 0 15px 0 rgba(0,0,0,.2);
  padding: 20px;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}

.at-share-btn {
  display: inline-block;
}



/*
 * Responsive Styles
 * --------------------------------------------------
 */

@media (max-width: 424px) {
  .configureKitModal .modal-body {
    height: calc(100% - 135px);
  }
  .shop .agreement-content {
    max-height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .configureKitModal .modal-body .kitSelections {
    border-bottom: 1px solid #dddddd;
  }
  .img-responsive {
    margin: auto;
  }
  #shop_menu {
    padding-left:15px;
  }
  .store-item-wrapper {
    max-width: inherit;
    min-height: inherit;
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  .qty-input {
    max-width: inherit;
  }
  .store-group-colors img {
    max-width: 64px;
  }
  .store-heading-nav {
    padding-bottom: 15px;
  }
  .store-nav-toggle {
    top: 25px; /* lowers the off-canvas nav toggle so that it does not cover the "images" text */
  }
  .navbar-nav {
    text-align: center;
    margin: 5px 0 0 0px;
  }
  .navbar-right {
    margin-right: -15px; /* to compensate for padding in responsive layout */
  }
  .nav-tabs>li>a {
    margin-right: -1px;
  }
}

@media (min-width: 768px) {
  .tab-pane {
    min-height: 100px;
  }
  .store-checkout .control-label {
    text-align: right !important;
  }
  .configureKitModal.modal {
    max-width: 80%;
  }

  .configureKitModal .modal-body .row {
    height: 100%;
  }
  .configureKitModal .modal-body .kitSelections {
    border-right: 1px solid #dddddd;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .configureKitModal.modal {
    max-width: 70%;
  }
  #more_skincare_2 {
    margin-bottom: 30px;
  }
}


/*
 * placeholder fixes across all browsers
 */
::-webkit-input-placeholder {
   color: #999!important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #999!important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #999!important;  
}

:-ms-input-placeholder {  
   color: #999!important;  
}


/*** fixes for angular-wizard ****/

.steps-indicator li {
  padding-top: 7px;
}

.steps-indicator li a {
  padding-top: 5px;
  padding-left: 8px;
}

/* spin animation */
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/** fixes for field styling to utilize <fieldset ng-disabled **/

fieldset[disabled].fieldset-no-bg {
  background-color: transparent;
  border-color: transparent;
}

/* product not found uses this */

.store-section-minimal-top {
  margin-left: 10px;
}

.store-section-minimal-top .subheader h1 {
  margin-top: 0;
}

