Options +FollowSymLinks
RewriteEngine on

RewriteRule ^media/files/(.*) http://jafra-mx.s3-website-us-west-1.amazonaws.com/media/files/$1 [P,L]
#RewriteRule ^media/imagecache.php?.*image=/media/files/(.*) http://jafra-mx.s3-website-us-west-1.amazonaws.com$1 [P,L]

RewriteRule ^regional/(.*.pdf)$ http://jcregmexico-1636426045.us-east-1.elb.amazonaws.com/regional/$1 [P,L]
RewriteRule ^sharedfiles/(.*.pdf)$ http://jcregmexico-1636426045.us-east-1.elb.amazonaws.com/sharedfiles/$1 [P,L]

RewriteRule ^regional.*$ http://www.jafra.com.mx/ [L,R=302]
RewriteRule ^sharedfiles.*$ http://www.jafra.com.mx/ [L,R=302]

RewriteCond $1 !^(index\.php|resources|robots\.txt|Sitemap\.xml)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]

# enable expiration headers
ExpiresActive on

# unset 
#<Filesmatch "\.map$">
#    ExpiresDefault "access plus 15 minutes"
#    Header unset Cache-Control
#    Header unset Pragma
#</Filesmatch>

# Declare a filter, which runs after all internal filters like PHP or SSI
FilterDeclare  COMPRESS

# Enable "COMPRESS" filter if "Content-Type" contains Text, HTML , JS, CSS, XML:
FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'text/plain'"
FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'text/html'"
FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'text/css'"
FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'text/javascript'"
FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'application/javascript'"
FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'application/x-javascript'"
FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'application/xhtml+xml'"
FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'application/rss+xml'"
FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'application/xml'"

# Add "COMPRESS" filter to the chain of filters
FilterChain COMPRESS

# The "COMPRESS" filter can change "Content-Length", can not be used with range requests
FilterProtocol COMPRESS DEFLATE change=yes;byteranges=no

# substitute URL prefixes to auto-CDNify them
<If "%{REQUEST_URI} !~ m#^/cms.*#">
    AddOutputFilterByType SUBSTITUTE text/html text/plain text/javascript text/css application/xhtml+xml application/javascript application/x-javascript application/xml
    Substitute "s|/media/|http://jafra-mx-herokuapp-com.global.ssl.fastly.net/media/|n"
</If>

<If "%{REQUEST_URI} !~ m#^/$#">
    SetEnv downgrade-1.0
    SetOutputFilter DEFLATE
</If>

# short expires, but should help against any basic reloading & help cloudflare load, up time for prod
ExpiresByType text/plain "access plus 15 minutes"
ExpiresByType text/html "access plus 15 minutes"
ExpiresByType text/css "access plus 60 minutes"
ExpiresByType text/javascript "access plus 60 minutes"
ExpiresByType application/javascript "access plus 60 minutes"
ExpiresByType application/x-javascript "access plus 60 minutes"
ExpiresByType application/xhtml+xml "access plus 60 minutes"
ExpiresByType application/rss+xml "access plus 60 minutes"
ExpiresByType application/xml "access plus 60 minutes"
ExpiresByType image/jpeg "access plus 60 minutes"
ExpiresByType image/png "access plus 60 minutes"
ExpiresByType image/gif "access plus 60 minutes"
ExpiresByType image/ico "access plus 60 minutes"
ExpiresByType application/x-font-ttf "access plus 60 minutes"
ExpiresByType application/x-font-woff "access plus 60 minutes"

# CORS, keeps CDN from being mad
Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"

